**/.git
**/.gitignore
**/.github
**/.vscode
**/.idea
**/coverage
**/.aws
**/.ssh
**/.DS_Store
**/.aof
**/venv
**/env
**/bin
**/docs
**/dist
**/etc
**/lib
**/var
**/*.egg-info
.dockerignore
.readthedocs.yaml
docker.env
CHANGELOG.rst
Dockerfile
README.rst
docker-compose.yml
pyvenv.cfg
