version: '3'

services:
  web:
    environment:
        - DJANGO_DEV=1
        - VC_DB_HOST=db
    build: .
    command: bash -c "python manage.py makemigrations && python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    container_name: "vulnerablecode"
    volumes:
      - .:/vulnerablecode
    ports:
      - "8000:8000"
    depends_on:
      - db
  db:
    image: postgres
    environment:
        - POSTGRES_DB=vulnerablecode
        - POSTGRES_USER=vulnerablecode
        - POSTGRES_PASSWORD=vulnerablecode