setuptools==36.5.0

beautifulsoup4==4.7.1
lxml==4.3.3
django==2.2.8
djangorestframework==3.9.2
django-filter==2.1.0
packageurl-python==0.8.7
semantic-version==2.8.2

# Tests
pytest==3.2.3
pycodestyle==2.5.0

# Deployment
gunicorn==19.7.1
whitenoise==3.3.1
dj_database_url==0.4.2
psycopg2==2.8.4
