setuptools==36.5.0

beautifulsoup4==4.6.0
lxml==4.0.0
django==1.11.6
djangorestframework==3.7.0

# Tests
pytest==3.2.3
pycodestyle==2.3.1

# Deployment
gunicorn==19.7.1
whitenoise==3.3.1
dj_database_url==0.4.2
psycopg2==2.7.3.1
