.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.Site-content {
    flex: 1;
}

.nexb-orange {
    color: #f7bf3c;
}

.container.max-desktop-width {
    max-width: 960px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

a {
    color: #0066ff;
    text-decoration: none;
}

a:visited {
    color: #0066ff;
    text-decoration: none;
}

a:hover {
    color: #000000;
    text-decoration: none;
}

a {
    font-weight: 400;
}

a.button.paging {
    color: #0066ff;
}

a.button.paging:hover {
    color: #000000;
    text-decoration: none;
}

a.button.paging:visited {
    color: #0066ff;
}

.button.is-link {
    background-color: #485fc7;
    border-color: transparent;
    color: #fff;
}

.container.is-fullheight {
    min-height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: #ffffff;
    padding: 10px 10px 20px 10px;
    border-top: solid 1px #000000;
    font-size: 14px;
}

@media screen and (min-width: 1024px) {
    .footer {
        width: 960px;
    }
}

.navbar.border-bottom-radius {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

code {
    padding-left: 30px;
    color: #cd0000;
    font-size: 14px;
}

.inline-code {
    padding-left: 0px;
    color: #cd0000;
    background-color: #ffffff;
    border: 0;
    padding: 0;
    font-size: 16px;
    font-family: Consolas;
}

.inline-code01 {
    padding-left: 0px;
    color: #cd0000;
    border: 0;
    padding: 0;
    font-family: Consolas;
    font-weight: 500;
}

#tab-content div,
#tab-content div>div {
    display: none;
}

#tab-content div.is-active,
#tab-content div.is-active>div,
#tab-content div.is-active>div>div,
#tab-content div.is-active>div>div>div,
#tab-content div.is-active>div>div>div>div {
    display: block;
    visibility: visible;
}

#tab-content div {
    min-height: 300px;
    border-bottom: 0;
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.tab-div {
    border: 0;
    background-color: #ffffff;
    padding: 10px;
}

.tabs.is-boxed ul {
    padding-left: 20px;
}

.tabs li {
    margin-left: 0px;
    margin-right: 0px;
}

.tabs.is-boxed li a {
    border-top-width: 3px;
}

.tabs:not(:last-child) {
    margin-bottom: 0px;
}

.tabs.is-boxed li a:hover {
    border: solid 1px #e8e8e8;
    border-top-width: 3px;
    background-color: #ffffff;
}

.tabs.is-boxed li.is-active a,
.tabs.is-boxed li.is-active a:hover {
    background-color: white;
    border-top: solid 3px #3298dc;
    border-bottom-color: transparent !important;
    color: #000000;
}

.table.nexb-table td {
    border: 0;
}

.table th {
    border-color: #000000;
}

.two-col-left {
    width: 150px;
    text-align: right !important;
    font-weight: bold;
    padding-right: 20px !important;
    line-height: 20px;
}

.two-col-right {
    border: solid 1px #e8e8e8 !important;
    line-height: 20px;
}

pre {
    font-family: Consolas !important;
    font-size: 13px;
    color: #cc0000;
    background-color: #f8f8f8;
    border: solid 1px #e8e8e8;
    border-radius: 5px;
    overflow: visible;
    white-space: pre-wrap;
    margin: 10px 0px 0px 0px;
    padding: 12px;
    display: block;
}

ul {
    list-style-type: square;
}

ul li {
    background-repeat: no-repeat;
    margin-left: 20px;
}

.tag:not(body).is-nexb {
    background-color: #e8e8e8;
    color: #000000;
    font-weight: 500;
}

.tag:not(body).is-search-label-left {
    box-shadow: 5px 5px 5px #cccccc;
    border: solid 1px #b8b8b8;
    font-weight: bold;
}

.tag:not(body).is-search-label-right {
    box-shadow: 5px 5px 5px #cccccc;
    border: solid 1px #b8b8b8;
    border-left: 0;
}

.tag01 {
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    border: 0;
    background-color: #ffffff;
    padding: 0px 3px 0px 3px;
}

.tag02 {
    color: #000000;
    font-size: 24px;
    font-weight: 400;
}

.nexb-box {
    margin-top: 0px;
    margin-bottom: 30px;
    background-color: #ffffff;
    border: solid 1px #d8d8d8;
    border-radius: 5px;
    padding: 10px;
    box-shadow: none;
}

.title.nexb-title-color {
    color: #008888;
}

.nexb-title {
    font-size: 24px;
    color: #cc0000;
    margin-bottom: 10px;
}

.message a:not(.button):not(.tag):not(.dropdown-item) {
    color: #0066ff;
    text-decoration: none;
}

.message a:not(.button):not(.tag):not(.dropdown-item):hover {
    color: #0066ff;
    text-decoration: underline;
}

.message.is-info {
    background-color: #ffffff;
    border: 0;
    box-shadow: 0 0.5em 1em -0.125em #e8e8e8, 0 0 0 1px #e8e8e8;
}

.message.is-info .message-header {
    background-color: #3e8ed0;
    color: #fff;
}

.message.is-info .message-body {
    border-color: #3298dc;
    color: #000000;
}

.section01 {
    padding: 0rem 1.5rem 1.5rem 1.5rem;
}

.current01 {
    font-size: 15px;
}

.current02 {
    font-size: 15px;
    display: inline-block;
    padding: 9px 10px 0px 10px;
}

.current03 {
    font-size: 12px;
    display: inline-block;
    padding: 7px 0px 0px 0px;
}

/* For some reason this is missing from our local bulma.css file, and is needed for the page-bottom pagination */
.pagination-list li {
    list-style: none;
    margin: 0;
}

.small_page_button {
    border: solid 1px #f2f2f2;
    border-radius: 3px;
    padding: 0px 6px 0px 6px;
    background-color: #f8f8f8;
    color: #cccccc;
    font-size: 12px;
}

a.small_page_button {
    border-color: #99c2ff;
    background-color: #ffffff;
    color: #0066ff;
}

.page_arrow_spacing {
    padding: 0px 3px 0px 3px;
}

.panel:not(:last-child).panel-header-only {
    margin-bottom: 1.0rem;
}

.column.skinny {
    padding: 0.10rem;
    line-height: 17px;
    background-color: #ffffff;
    border: solid 1px #e8e8e8;
    font-size: 14px;
}