{% extends "base.html" %}

{% block content %}
<div class="container is-max-desktop">

  <section class="section pt-0">
    <div class="is-flex is-justify-content-space-between mb-2">
      <nav class="breadcrumb is-medium mb-1" aria-label="breadcrumbs">
        <ul>
          <li class="is-active"><a href="#" aria-current="page">Profile settings</a></li>
        </ul>
      </nav>
    </div>

    <article class="message is-warning">
      <div class="message-body">
        <strong>An API key is like a password and should be treated with the same care.</strong>
      </div>
    </article>

    <div class="field">
      <label class="label">API Key</label>
      <div class="control has-icons-left">
        <input class="input" type="text" value="{{ request.user.auth_token.key|default:'Not available' }}" readonly>
      </div>
    </div>

  </section>
</div>
{% endblock %}