{% extends "base.html" %}
{%load crispy_forms_tags %} 


{% block content %}
    <section class="section pt-0">
        {% for message in messages %}
        <article class="message is-{% if message.level_tag == 'error' %}danger{% else %}{{ message.level_tag }}{% endif %}">
          <div class="message-body">
            {{ message|linebreaksbr }}
          </div>
        </article>
      {% endfor %}
    {% block title %}
    VulnerableCode API key request
    {% endblock %}
    <br/>
        <form action = "" method = "post">
            {% csrf_token %}
            {{form|crispy }}
            <br/>
            <input class="button is-link" type="submit" value="Submit">
        </form>
    </section>
{% endblock %}
