<!DOCTYPE html class="has-navbar-fixed-top">
{% load static %}
<head>
    <title>VulnerableCode</title>
</head>
<link rel="stylesheet" href="{% static 'css/bulma.css' %}"/>
<link rel="stylesheet" href="{% static 'css/custom.css' %}"/>
<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<body class="Site">
    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
        <div  class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{% url 'home' %}">
                    Home
                </a>
                <a class="navbar-item" href="{% url 'redoc' %}">
                    API Docs
                </a>
                <a class="navbar-item" href="{% url 'package_search' %}">
                    Packages
                </a>
                <a class="navbar-item" href="{% url 'vulnerability_search' %}">
                    Vulnerabilities
                </a>
                {% if user.is_authenticated %}
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link">
                    {{ user.username }}
                  </a>
                  <div class="navbar-dropdown is-right">
                    <a class="navbar-item" href="{% url 'account_profile' %}">
                      Profile settings
                    </a>
                    <a class="navbar-item" href="{% url 'logout' %}">
                      Sign out
                    </a>
                  </div>
                {% endif %}
            </div>
            <div class="navbar-end">
              {% if not user.is_authenticated %}
              <a class="navbar-item is-right" href="{% url 'login' %}">
                Sign in
              </a>
              {% endif %}
            </div>
        </div>
    </nav>
    <main class="Site-content">

    <section class="section is-small  has-text-centered">
        <div class="container ">
            {% block title %}
            {% endblock %}
        </div>
    </section>
    {% block content %}
    {% endblock %}

    </main>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>VulnerableCode</strong> is free software by <a href="https://github.com/nexB/vulnerablecode"> nexB Inc. and others</a>.
          The source code is licensed under <a href="https://github.com/nexB/vulnerablecode/blob/main/apache-2.0.LICENSE">Apache-2.0</a>.
          The data is licensed under <a href="https://github.com/nexB/vulnerablecode/blob/main/cc-by-sa-4.0.LICENSE">CC-BY-SA-4.0</a>.
        </p>
      </div>
    </footer>
</body>
{% block javascript %}
{% endblock %}