{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}VulnerableCode.io{% endblock %}</title>
    <link rel="icon" href="{% static 'images/favicon-16x16.png' %}" />

    <link rel="stylesheet" href="{% static 'css/bulma.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bulma-tooltip.css' %}" />

    {% block extrahead %}{% endblock %}
</head>

<body class="Site">
    <div class="container max-desktop-width is-fullheight">
        {% block content %}{% endblock %}

        <div style="margin-top: 50px;"></div>

        <footer class="footer" style="margin-top: auto;">
            <div class="content has-text-centered">
                <p>
                    <strong>VulnerableCode</strong> is free software by <a href="https://github.com/nexB/vulnerablecode"> nexB Inc. and others</a>.
                    The source code is licensed under <a href="https://github.com/nexB/vulnerablecode/blob/main/apache-2.0.LICENSE">Apache-2.0</a>.
                    The data is licensed under <a href="https://github.com/nexB/vulnerablecode/blob/main/cc-by-sa-4.0.LICENSE">CC-BY-SA-4.0</a>.
                </p>
            </div>
        </footer>
    </div>

    {% block scripts %}{% endblock %}
</body>

</html>