{% extends "base.html" %}
{% load utils %}

{% block title %}
Curation Dashboard
{% endblock %}

{% block extrahead %}

<style>
  pre {
    /* background-color: #282a36; */
    /* color: #f8f8f2; */
    padding: 1rem;
    border-radius: 4px;
    overflow-x: auto;
    height: 750px;
    position: relative;
  }

  .column {
    word-break: break-word;
  }

  .copy-btn {
    position: absolute;
    top: 1.0rem;
    right: 1.5rem;
    z-index: 1;
    opacity: 0.5;
    transition: opacity 0.2s ease;
  }
</style>

{% endblock %}

{% block content %}

<div class="columns">

  <!-- LEFT: Advisory Viewer -->
  <div class="column is-5">
    <div class="box is-flex-direction-column">

        {% for adv in advisories %}
        <div class="advisory-item" data-index="{{ forloop.counter0 }}" style="display: none;">
          <div class="box">
            <div class="level mb-2">

              <div class="level-left">
                <h2 class="subtitle">Run Error</h2>
              </div>

              <div class="level-right">
                <div class="has-text-right">
                  <div class="buttons is-flex is-flex-direction-column">
                    <p class="mr-4">
                      <strong id="counterText">{{ forloop.counter }} / {{ advisories|length }}</strong>
                    </p>

                    <button id="prevBtn" class="button is-small mb-1" onclick="prevAdvisory()">
                      <span class="icon">
                        <i class="fa fa-arrow-up"></i>
                      </span>
                    </button>

                    <button id="nextBtn" class="button is-small" onclick="nextAdvisory()">
                      <span class="icon">
                        <i class="fa fa-arrow-down"></i>
                      </span>
                    </button>

                  </div>

                </div>
              </div>

            </div>
            <div class="log-wrapper" style="position: relative;">
              <button class="button is-medium is-light copy-btn" id="copy-btn-{{ forloop.counter0 }}"
                onclick="copyCode('adv-{{ forloop.counter0 }}', 'copy-btn-{{ forloop.counter0 }}')">
                <span class="icon is-medium">
                  <i class="fa fa-copy"></i>
                </span>
              </button>
              <pre><code id='adv-{{ forloop.counter0 }}' class="language-python">{{ adv }}</code></pre>
            </div>
          </div>

        </div>
        {% endfor %}



    </div>
  </div>


  <!-- RIGHT: Editor -->
  <div class="column is-7">
    <div class="box">

      <h2 class="title is-6">Editor</h2>

      <form method="post">
        {% csrf_token %}

        <div class="field">
          <label class="label">Datasource ID</label>
          <div class="control">
            <input class="input" type="text" name="datasource_id">
          </div>
        </div>

        <div class="field">
          <label class="label">AVID</label>
          <div class="control">
            <input class="input" type="text" name="avid">
          </div>
        </div>

        <div class="field">
          <label class="label">URL</label>
          <div class="control">
            <input class="input" type="text" name="url">
          </div>
        </div>

        <div class="field">
          <label class="label">Summary</label>
          <div class="control">
            <textarea class="textarea" name="summary"></textarea>
          </div>
        </div>

        <hr>

        <div class="buttons">
          <button class="button is-primary" type="submit">Save</button>
          <button class="button is-success" type="button">Finish</button>
        </div>

      </form>

    </div>
  </div>

</div>

{% endblock %}


{% block scripts %}
<script>
  let currentIndex = 0;
  const items = document.querySelectorAll(".advisory-item");

  function show(index) {
    if (index < 0 || index >= items.length) return;

    items.forEach(el => el.style.display = "none");
    items[index].style.display = "block";

    currentIndex = index;

    // update counter + buttons inside current item
    const current = items[index];

    const counter = current.querySelector("#counterText");
    if (counter) {
      counter.textContent = (index + 1) + " / " + items.length;
    }

    const prevBtn = current.querySelector("#prevBtn");
    const nextBtn = current.querySelector("#nextBtn");

    if (prevBtn) prevBtn.disabled = index === 0;
    if (nextBtn) nextBtn.disabled = index === items.length - 1;
  }

  function nextAdvisory() {
    show(currentIndex + 1);
  }

  function prevAdvisory() {
    show(currentIndex - 1);
  }

  document.addEventListener("DOMContentLoaded", () => {
    show(0);
  });


  function copyCode(target, button) {
    code = document.getElementById(target).textContent;
    navigator.clipboard.writeText(code)
      .then(() => {
        const btn = document.getElementById(button);
        btn.classList.add("is-success");
        btn.innerHTML = '<span class="icon is-small"><i class="fa fa-check"></i></span>';
        setTimeout(() => {
          btn.classList.remove("is-success");
          btn.innerHTML = '<span class="icon is-small"><i class="fa fa-copy"></i></span>';
        }, 1500);
      })
      .catch(err => alert(err));

  }
</script>
{% endblock %}