<nav class="navbar is-dark mb-5 border-bottom-radius" role="navigation" aria-label="main navigation">
    <div class="navbar-brand ml-3">
        <a class="navbar-item is-size-4 has-text-weight-bold" href="/">
            VulnerableCode<span class="nexb-orange">.</span>io
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{% url 'package_search' %}">
                Packages
            </a>
            <a class="navbar-item" href="{% url 'vulnerability_search' %}">
                Vulnerabilities
            </a>
            <a class="navbar-item" href="https://vulnerablecode.readthedocs.io/en/latest/" target="_blank">
                Documentation
            </a>
        </div>
    </div>
    <div class="navbar-end mr-3">
        <div class="navbar-item navbar-item is-cursor-help">
            <div class="dropdown is-right is-hoverable ">
                <div class="dropdown-trigger has-text-grey-light">
                    About
                </div>
                    <div class="dropdown-menu navbar-hover-div" role="menu">
                    <div class="dropdown-content">
                        <div class="dropdown-item about-hover-div">
                            A free and open vulnerabilities database and the packages they impact. And the tools to aggregate and correlate these vulnerabilities.
                            <ul>
                                <li>
                                    Sponsored by NLnet <a href="https://nlnet.nl/project/vulnerabilitydatabase/">https://nlnet.nl/project/vulnerabilitydatabase/</a> for <a href="https://www.aboutcode.org/">https://www.aboutcode.org/</a>
                                </li>
                                <li>
                                    Chat at <a href="https://gitter.im/aboutcode-org/vulnerablecode">https://gitter.im/aboutcode-org/vulnerablecode</a>
                                </li>
                                <li>
                                    Docs at <a href=https://vulnerablecode.readthedocs.org/>https://vulnerablecode.readthedocs.org/</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar-item navbar-item is-cursor-help">
            <div class="dropdown-trigger has-text-grey-light">
            v{{ VULNERABLECODE_VERSION }}
            </div>
        </div>
    </div>
</nav>