{% extends 'base_new.html' %}

{% block title %}
VCIO -- package search
{% endblock %}

{% block content %}

{% include 'navbar01.html' %}

<section class="section01">

    <div class="columns">
        <div class="column is-four-fifths">
            <span class="tag01">Search by package:</span>
            <span class="tag02">{{ your_search }}</span>
        </div>
        <div class="column" style="text-align: right;">
            <a class="button is-link" href="/index_new">Return to search</a>
        </div>
    </div>
    <div class="columns">
        <div class="column" style="text-align: center;">
            Total records: {{ all_packages_count }}
            <br />
            <span class="current01">(page {{ all_packages_results.number }} of {{ all_packages_results.paginator.num_pages }})</span>
        </div>
    </div>

</section>


<section class="section01">
    <table class="table is-narrow" style="width: 100%; border-bottom: solid 2px #d8d8d8;">
        <thead>
            <tr>
                <th><span class="has-tooltip-multiline has-tooltip-black has-tooltip-arrow has-tooltip-text-left" data-tooltip="The package url or purl is a URL string used to identify and locate a software package.">Package URL</span></th>
                <th style="width: 250px;"><span class="has-tooltip-multiline has-tooltip-black has-tooltip-arrow has-tooltip-text-left" data-tooltip="This is the number of vulnerabilities that affect the package.">Affected By Vulnerabilities</span></th>
                <th style="width: 250px;"><span class="has-tooltip-multiline has-tooltip-black has-tooltip-arrow has-tooltip-text-left" data-tooltip="This is the number of vulnerabilities fixed by the package.">Fixing Vulnerabilities</span></th>
            </tr>
        </thead>
        <tbody>
            {% for aaa in all_packages_results %}
            <tr>
                <td>
                    {{ aaa.purl }}
                    <br />
                    <span style="font-size: 13px;">
                        (
                        {% for key, value in packageid_dict.items %}
                        {% if key == aaa.purl %}
                        old HTML [disabled]
                        {% endif %}
                        {% endfor %}
                        |
                        <a href="{% url 'purl_search02' %}?purl_string={{ aaa.purl }}" target="_blank">new HTML</a>
                        )
                    </span>
                </td>
                <td>
                    {% if aaa.affected_by_vulnerabilities %}
                    {{aaa.affected_by_vulnerabilities|length}}
                    {% else %}
                    0
                    {% endif %}
                </td>
                <td>
                    {% if aaa.fixing_vulnerabilities %}
                    {{aaa.fixing_vulnerabilities|length}}
                    {% else %}
                    0
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

{% endblock %}