{% extends 'base.html' %}
{% load humanize %}
{% load widget_tweaks %}

{% block title %}
VCIO Package Details
{% endblock %}

{% block content %}

{% include 'navbar.html' %}

<section class="section pt-0">
    <article class='panel is-info'>
        <div class='panel-heading py-2 is-size-6'>
            Search for vulnerable packages
            <div class="dropdown is-hoverable has-text-weight-normal">
                <div class="dropdown-trigger">
                    <i class="fa fa-question-circle ml-2"></i>
                </div>
                <div class="dropdown-menu dropdown-instructions-width" id="dropdown-menu4" role="menu">
                    <div class="dropdown-content dropdown-instructions-box-shadow">
                        <div class="dropdown-item">
                            <div>
                                <div>Search for currently known vulnerabilities for a <a href="https://github.com/package-url/purl-spec" target="_blank">Package-URL</a> (aka <span class="inline-code">purl</span>) or a package <span class="inline-code">name</span>.</div>
                                <ul>
                                    <li>
                                        Search by package <span class="inline-code">name</span> -- type the <span class="inline-code">name</span> in the search box and, if relevant to your search, select the package <span class="inline-code">type</span> from the dropdown.
                                    </li>
                                    <li>
                                        Search by <span class="inline-code">purl</span> -- type the <span class="inline-code">purl</span> in the search box. <span class="is-italic">(The <span class="inline-code">type</span> dropdown does not apply to a <span class="inline-code">purl</span> search.)</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-block">
            <div class="pb-3 width-100-pct">
                <form action="{% url 'package_search' %}" method="get" name="pkg_form" onsubmit="return validatePkgForm()">
                    <div class="field has-addons mt-3">
                        <div class="control">
                            <div class="select">
                                {{ package_form.type }}
                            </div>
                        </div>
                        <div class="control width-100-pct">
                            {{ package_form.name|add_class:"input" }}
                        </div>
                        <div class="control">
                            <button class="button is-link" type="submit" id="submit_pkg" name="template" value="package_details">
                                Search
                            </button>
                        </div>
                    </div>
                </form>
                <div>
                    {% if package_search %}
                        <div class="notification search-alert">
                            <button class=" delete"></button>
                            {{ package_search }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </article>
</section>

{% if package %}
    <section class="section pt-0">
        <div class="details-container">
            <article class="panel is-info panel-header-only">
                <div class="panel-heading py-2 is-size-6">
                    <div class="field is-grouped is-grouped-multiline">
                        Package details:
                        <div class="control">
                            <div class="tags has-addons">
                                <span class="tag is-black custom">purl</span>
                                <span class="tag is-white custom">
                                    {{ package.package_url }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <div class="pl-3 pr-3 mb-5">
                <table class="table vcio-table width-100-pct mt-2">
                    <tbody>
                        <tr>
                            <td class="two-col-left">
                                <span class="has-tooltip-multiline has-tooltip-black has-tooltip-arrow has-tooltip-text-left" data-tooltip="The package url or purl is a URL string used to identify and locate a software package.">purl</span>
                            </td>
                            <td class="two-col-right">
                                {{ package.package_url }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="content ml-3 mr-3">
                <div class="has-text-weight-bold ml-1 mb-0">
                    Affected by vulnerabilities
                    {% if impacted_vuln %}
                        ({{ impacted_vuln|length }})
                    {% else %}
                        (0)
                    {% endif %}
                </div>

                <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th style="width: 175px;">Vulnerability</th>
                            <th>Summary</th>
                            <th style="width: 225px;">Aliases</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if impacted_vuln %}
                            {% for vuln in impacted_vuln %}
                                <tr>
                                    <td>
                                        <a href="{% url 'vulnerability_view' vuln.pk %}?vuln_id={{ vuln.vulnerability_id }}" target="_self">{{ vuln.vulnerability_id }}</a>
                                    </td>
                                    <td>
                                        {{ vuln.summary }}
                                    </td>
                                    <td>
                                        {% for alias in vuln.alias %}
                                            {% if alias.url %}
                                                <a href={{ alias.url }} target="_blank">{{ alias }}<i class="fa fa-external-link fa_link_custom"></i></a>
                                                <br />
                                            {% else %}
                                                {{ alias }}
                                                <br />
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="3">
                                    This package is not affected by any vulnerabilities.
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>

            <div class="content ml-3 mr-3">
                <div class="has-text-weight-bold ml-1 mb-0">
                    Fixing vulnerabilities
                    {% if resolved_vuln %}
                        ({{ resolved_vuln|length }})
                    {% else %}
                        (0)
                    {% endif %}
                </div>

                <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th style="width: 175px;">Vulnerability</th>
                            <th>Summary</th>
                            <th style="width: 225px;">Aliases</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if resolved_vuln %}
                            {% for vuln in resolved_vuln %}
                                <tr>
                                    <td>
                                        <a href="{% url 'vulnerability_view' vuln.pk %}?vuln_id={{ vuln.vulnerability_id }}" target="_self">{{ vuln.vulnerability_id }}</a>
                                    </td>
                                    <td>
                                        {{ vuln.summary }}
                                    </td>
                                    <td>
                                        {% for alias in vuln.alias %}
                                            {% if alias.url %}
                                                <a href={{ alias.url }} target="_blank">{{ alias }}<i class="fa fa-external-link fa_link_custom"></i></a>
                                                <br />
                                            {% else %}
                                                {{ alias }}
                                                <br />
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="3">
                                    This package does not fix any vulnerabilities.
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endif %}

{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
            const $notification = $delete.parentNode;

            $delete.addEventListener('click', () => {
                $notification.parentNode.removeChild($notification);
            });
        });
    });

    function validatePkgForm() {
        var x = document.forms["pkg_form"]["name"].value;
        if (x.trim().length == "") {
            return false;
        }
    }
</script>

{% endblock %}