{% extends "base.html" %}
{% load humanize %}
{% load widget_tweaks %}

{% block title %}
VulnerableCode Package Search
{% endblock %}

{% block content %}

{% include "navbar.html" %}

<section class="section pt-0">
    {% include "package_search_box.html" %}
</section>

{% if search %}
    <div class="is-max-desktop mb-3">
        <section class="mx-5">
            <div class="is-flex" style="justify-content: space-between;">
                <div>
                    {{ page_obj.paginator.count|intcomma }} results
                </div>
                <div>
                    {% if page_obj.has_previous %}
                        <a class="small_page_button" href="?search={{ search }}&page=1">1</a>
                        <a class="page_arrow_spacing" href="?search={{ search }}&page={{ page_obj.previous_page_number }}">&laquo;</a>
                    {% else %}
                        <span class="small_page_button">1</span>
                        <span class="page_arrow_spacing">&laquo;</span>
                    {% endif %}
                    Page {{ page_obj.number|intcomma }} of {{ page_obj.paginator.num_pages|intcomma }}
                    {% if page_obj.has_next %}
                        <a
                            class="page_arrow_spacing"
                            href="?search={{ search }}&page={{ page_obj.next_page_number }}">&raquo;
                        </a>
                        <a
                            class="small_page_button"
                            href="?search={{ search }}&page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages|intcomma }}
                        </a>
                    {% else %}
                        <span class="page_arrow_spacing">&raquo;</span>
                        <span class="small_page_button">{{ page_obj.paginator.num_pages|intcomma }}</span>
                    {% endif %}
                </div>
            </div>
        </section>
    </div>
   
    <section class="section pt-0">
        <div class="content">
            <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>
                            <span
                                class="has-tooltip-multiline has-tooltip-black has-tooltip-arrow has-tooltip-text-left"
                                data-tooltip="The package url or purl is a URL string used to identify and locate a software package.">
                                Package URL
                            </span>
                        </th>
                        <th style="width: 225px;">
                            <span
                                class="has-tooltip-multiline has-tooltip-black has-tooltip-arrow has-tooltip-text-left"
                                data-tooltip="This is the number of vulnerabilities that affect the package.">
                                Affected by vulnerabilities
                            </span>
                        </th>
                        <th style="width: 225px;">
                            <span
                                class="has-tooltip-multiline has-tooltip-black has-tooltip-arrow has-tooltip-text-left"
                                data-tooltip="This is the number of vulnerabilities fixed by the package.">
                                Fixing vulnerabilities
                            </span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for package in page_obj %}
                        <tr>
                            <td style="word-break: break-all;">
                                <a
                                    href="{% url 'package_view' package.pk %}?search={{ search }}&purl={{ package.package_url }}"
                                    target="_self">{{ package.package_url }}</a>
                            </td>
                            <td>{{ package.vulnerability_count }}</td>
                            <td>{{ package.patched_vulnerability_count }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3" style="word-break: break-all;">
                            No Package found.
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
   
        <nav class="pagination is-centered is-small" aria-label="pagination">
            {% if page_obj.has_previous %}
                <a href="?search={{ search }}&page={{ page_obj.previous_page_number }}" class="pagination-previous">Previous</a>
            {% else %}
                <a class="pagination-previous" disabled>Previous</a>
            {% endif %}
   
            {% if page_obj.has_next %}
                <a href="?search={{ search }}&page={{ page_obj.next_page_number }}" class="pagination-next">Next</a>
            {% else %}
                <a class="pagination-next" disabled>Next</a>
            {% endif %}
   
            <ul class="pagination-list">
                {% if page_obj.number != 1%}
                    <li>
                        <a
                            href="?search={{ search }}&page=1{% if url_params_without_page %}&{{ url_params_without_page }}{% endif %}"
                            class="pagination-link"
                            aria-label="Goto page 1">1
                        </a>
                    </li>
                    {% if page_obj.number > 2 %}
                        <li>
                            <span class="pagination-ellipsis">&hellip;</span>
                        </li>
                    {% endif %}
                {% endif %}
                <li>
                    <a
                        class="pagination-link is-current"
                        disabled aria-label="Page {{ page_obj.number }}"
                        aria-current="page">{{ page_obj.number|intcomma }}
                    </a>
                </li>
                {% if page_obj.number != page_obj.paginator.num_pages %}
                    {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
                        <li>
                            <span class="pagination-ellipsis">&hellip;</span>
                        </li>
                    {% endif %}
                    <li>
                        <a
                            href="?search={{ search }}&page={{ page_obj.paginator.num_pages }}{% if url_params_without_page %}&{{ url_params_without_page }}{% endif %}"
                            class="pagination-link"
                            aria-label="Goto page {{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages|intcomma }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
   
    </section>
{% endif %}
{% endblock %}
