{% extends "base.html" %}
{% load humanize %}
{% load widget_tweaks %}

{% block title %}
VulnerableCode Package Details - {{ package.purl }}
{% endblock %}

{% block content %}
<section class="section pt-0">
    {% include "package_search_box.html"%}
</section>

{% if package %}
    <section class="section pt-0">
        <div class="details-container">
            <article class="panel is-info panel-header-only">
                <div class="panel-heading py-2 is-size-6">
                Package details:
                </div>
            </article>

            <div class="pl-3 pr-3 mb-5">
                <table class="table vcio-table width-100-pct mt-2">
                    <tbody>
                        <tr>
                            <td class="two-col-left">
                                <span
                                    class="has-tooltip-multiline has-tooltip-black has-tooltip-arrow has-tooltip-text-left"
                                    data-tooltip="The package url or purl is a URL string used to identify and locate a software package."
                                >
                                purl
                                </span>
                            </td>
                            <td class="two-col-right">
                                {{ package.purl }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="content ml-3 mr-3" style="background-color: #f8f8f8; padding: 10px; border: solid 1px #d8d8d8; border-radius: 5px;">
                <span style="font-weight: 700; color: #0066ff;">Let's try to display fixing packages for this package: {{ package.purl }}</span>
                <div style="padding: 5px 0px;">
                    <span style="font-weight: 700; color: #996633;">package.purl</span> = {{ package.purl }}
                </div>
                <div style="padding: 5px 0px;">
                    <span style="font-weight: 700; color: #996633;">package.qualifiers</span> = {{ package.qualifiers }}
                </div>
                <div style="padding: 5px 0px;">
                    <span style="font-weight: 700; color: #996633;">package.vulnerabilities</span> = {{ package.vulnerabilities }}
                </div>
                <div style="padding: 5px 0px;">
                    <span style="font-weight: 700; color: #996633;">package.package_url</span> = {{ package.package_url }}
                </div>
                <div style="padding: 5px 0px;">
                    <span style="font-weight: 700; color: #996633;">package.plain_package_url</span> = {{ package.plain_package_url }}
                </div>
                <div style="padding: 5px 0px;">
                    <span style="font-weight: 700; color: #996633;">package.purl_object</span> = {{ package.purl_object }}
                </div>

                <div style="padding: 5px 0px;">
                    <span style="font-weight: 700; color: #996633;">package.fixing</span> = {{ package.fixing }}
                </div>
                <div style="padding: 5px 0px;">
                    <span style="font-weight: 700; color: #996633;">package.fixed_packages</span> = <span class="inline-code">Server Error (500)</span>
                </div>
                <div style="padding: 5px 0px;">
                    <span style="font-weight: 700; color: #996633;">package.is_vulnerable</span> = {{ package.is_vulnerable }}
                </div>
                <div style="padding: 5px 0px;">
                    <span style="font-weight: 700; color: #996633;">package.get_absolute_url</span> = {{ package.get_absolute_url }}
                </div>

                <div style="padding: 5px 0px;">
                    <span style="font-weight: 700; color: #996633;">package.affected_by</span> = {{ package.affected_by }}
                </div>

                <div style="padding: 5px 0px;">
                    <span style="font-weight: 700; color: #996633;">package.test_get_fixing_purls</span> = {{ package.test_get_fixing_purls }}
                </div>

                <div style="padding: 5px 0px;">
                    <span style="font-weight: 700; color: #996633;">package.test_get_fixing_purls</span> = {{ package.test_get_fixing_purls }}
                </div>

                {% for abc in package.affected_by %}

                    <div style="padding: 5px 0px;"><span style="font-weight: 700; color: #996633;">{{ abc }}</span> -- {{ abc.fixed_by_packages }}</div>
                    <div style="padding: 5px 0px;"><span style="font-weight: 700; color: #996633;">{{ abc }}</span> -- {% for pkg in abc.fixed_by_packages %}{{ pkg.purl }}{% endfor %}</div>

                {% endfor %}

                <div style="padding: 5px 0px; font-weight: 700; color: #008888;">abc.test_matching_fixed_by_packages</div>
                {% for abc in package.affected_by %}

                    <!-- <div style="padding: 5px 0px;">
                        <span style="font-weight: 700; color: #008888;"">{{ abc }}</span> -- {{ abc.test_matching_fixed_by_packages }}
                    </div> -->

                    <div style="padding: 5px 0px;"><span style="font-weight: 700; color: #008888;">{{ abc }}</span> --
                        {% for pkg in abc.test_matching_fixed_by_packages %}
                        <div style="padding: 5px 0px;">{{ pkg.purl }}</div>
                        {% endfor %}
                    </div>

                {% endfor %}

                <div>
                    <div style="font-weight: 700; color: #ff0000;">test01</div>
                    {% for thing in test01 %}
                        {{ thing }}
                        <br />
                    {% endfor %}
                </div>

                <div>
                    <div style="font-weight: 700; color: #ff0000;">test02</div>
                    {% for thing in test02 %}
                    - {{ thing }}
                    <br />
                    {% endfor %}
                </div>

                <div>
                    <div style="font-weight: 700; color: #ff0000;">test03</div>
                    {% for thing in test03 %}
                        - {{ thing }}
                        <br />
                        {% for stuff in thing.test_matching_fixed_by_packages %}
                            ==> {{ stuff }}
                            <br />
                        {% endfor %}
                    <br />
                    {% endfor %}
                </div>

                <div>
                    <div style="font-weight: 700; color: #009933;">test04</div>
                    {% for thing in test04 %}
                    <span style="color: #009933;">- {{ thing }}</span>
                    <br />
                    {% endfor %}
                </div>

                <div style="padding: 10px 0px;">
                    <!-- The next div formerly was named "test05 -- test_get_fixing_purls" -->
                    <div style="font-weight: 700; color: #cc0099;">context["test_get_fixing_purls"]</div>
                    {% for thing in test_get_fixing_purls %}
                    <span style="color: #cc0099;">- {{ thing }}</span>
                    <br />
                    {% endfor %}

                    {% for vulnerability in affected_by_vulnerabilities %}
                        <div style="color: #cc0099; font-weight: 700; margin-left: 10px;">
                            {{ vulnerability }}
                        </div>
                        <div style="margin-left: 20px;">
                            {% for pkg in vulnerability.fixed_by_packages %}
                                {% if pkg in test_get_fixing_purls %}
                                    <div style="padding: 0px 0px 5px 0px; line-height: 18px;">
                                        <span style="color: #cc0099;">{{ pkg.purl }}</span>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>

            </div>

            <div class="content ml-3 mr-3">
                <div class="has-text-weight-bold ml-1 mb-0">
                    Affected by vulnerabilities ({{ affected_by_vulnerabilities|length }})
                </div>

                <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th style="width: 175px;">Vulnerability</th>
                            <th>Summary</th>
                            <th style="width: 225px;">Aliases</th>
                            <th style="color: #ff0000;">Fixing Packages</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for vulnerability in affected_by_vulnerabilities %}
                            <tr>
                                <td>
                                    <a href="{{ vulnerability.get_absolute_url }}" target="_self">{{ vulnerability.vulnerability_id }}</a>
                                </td>
                                <td>
                                    {{ vulnerability.summary }}
                                </td>
                                <td>
                                    {% for alias in vulnerability.alias %}
                                        {% if alias.url %}
                                            <a href="{{ alias.url }}" target="_blank">{{ alias }}<i class="fa fa-external-link fa_link_custom"></i></a>
                                            <br />
                                        {% else %}
                                            {{ alias }}
                                            <br />
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td style="color: #ff0000;">
                                    <!-- {{ vulnerability.fixed_by_packages }} -->
                                    <!-- <br /> -->
                                    {% for pkg in vulnerability.fixed_by_packages %}
                                        <div style="font-size: 14px; padding: 0px 0px 5px 0px; line-height: 18px;">
                                            {{ pkg.purl }}
                                        </div>
                                    {% endfor %}

                                    <hr style="border-top: solid 1px #000000;">

                                    {% for pkg in vulnerability.fixed_by_packages %}
                                        {% if pkg in test04 %}
                                            <div style="font-size: 14px; padding: 0px 0px 5px 0px; line-height: 18px;">
                                                <span style="color: #009933;">{{ pkg.purl }}</span>
                                            </div>
                                        {% endif %}
                                    {% endfor %}

                                    <hr style="border-top: solid 1px #000000;">

                                    {% for pkg in vulnerability.fixed_by_packages %}
                                        {% if pkg in test_get_fixing_purls %}
                                            <div style="font-size: 14px; padding: 0px 0px 5px 0px; line-height: 18px;">
                                                <span style="color: #cc0099;">{{ pkg.purl }}</span>
                                            </div>
                                        {% endif %}
                                    {% endfor %}

                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <!-- <td colspan="3"> -->
                                <td colspan="4"></td>
                                    This package is not known to be affected by vulnerabilities.
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>

            <div class="content ml-3 mr-3">
                <div class="has-text-weight-bold ml-1 mb-0">
                    Fixing vulnerabilities ({{ fixing_vulnerabilities|length }})
                </div>

                <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th style="width: 175px;">Vulnerability</th>
                            <th>Summary</th>
                            <th style="width: 225px;">Aliases</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for vulnerability in fixing_vulnerabilities %}
                            <tr>
                                <td>
                                    <a href="{{ vulnerability.get_absolute_url }}" target="_self">{{ vulnerability.vulnerability_id }}</a>
                                </td>
                                <td>
                                    {{ vulnerability.summary }}
                                </td>
                                <td>
                                    {% for alias in vulnerability.alias %}
                                        {% if alias.url %}
                                            <a href="{{ alias.url }}" target="_blank">{{ alias }}<i class="fa fa-external-link fa_link_custom"></i></a>
                                            <br />
                                        {% else %}
                                            {{ alias }}
                                            <br />
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="3">
                                    This package is not known to fix vulnerabilities.
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            <br/>
            </div>
        </div>
    </section>
{% endif %}

{% endblock %}
