{% extends 'base_new.html' %}

{% block title %}
VCIO -- DB package search
{% endblock %}

{% block content %}

{% include 'navbar01.html' %}

<section class="section01">

    <div class="columns">
        <div class="column is-four-fifths">
            <!-- <div class="tags has-addons">
                <span class="tag is-medium is-light is-search-label-left">Search packages by type and name: </span>
                <span class="tag is-medium is-white is-search-label-right">"{{searched_for}}"</span>
            </div>
        </div> -->
            <div>
                <span>Search packages by type and name: </span>
                <!-- <span>"{{searched_for}}"</span> -->
                <br />
                <!-- <span class="tag is-medium is-warning" style="margin-top: 10px;">"{{searched_for}}"</span> -->
                <span style="margin-top: 10px;">"{{searched_for}}"</span>
            </div>
        </div>
        <div class="column" style="text-align: right;">
            <a class="button is-link" href="/index_new">Return to search</a>
        </div>
    </div>
    <!-- <div class="columns"> -->
    <div class="columns" style="padding-top: 0px !important;">
        <!-- <div class="column" style="text-align: center; padding: 0px 0px 0px 0px;"> -->
        <div class="column">
            Total records: {{ result_size }}
        </div>
    </div>

    <!-- <div class="is-field is-horizontal" style="text-align: center;"> -->
    <div class="is-field is-horizontal">
        <span class="step-links">
            {% if packages.has_previous %}
            <a class="button paging is-normal" href="?{{ searched_for }}&page=1">&laquo; first</a>
            <a class="button paging is-normal" href="?{{ searched_for }}&page={{ packages.previous_page_number }}">previous</a>
            {% else %}
            <button class="button is-normal" title="disabled" disabled>&laquo; first</button>
            <button class="button is-normal" title="disabled" disabled>previous</button>
            {% endif %}

            <span class="current02">
                (page {{ packages.number }} of {{ packages.paginator.num_pages }})
            </span>

            {% if packages.has_next %}
            <a class="button paging is-normal" href="?{{ searched_for }}&page={{ packages.next_page_number }}">next</a>
            <a class="button paging is-normal" href="?{{ searched_for }}&page={{ packages.paginator.num_pages }}">last &raquo;</a>
            {% else %}
            <button class="button is-normal" title="disabled" disabled>next</button>
            <button class="button is-normal" title="disabled" disabled>last &raquo;</button>
            {% endif %}
        </span>
    </div>

</section>

{% if packages %}

<section class="section01">
    <div class="content">
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th><span class="has-tooltip-multiline has-tooltip-black has-tooltip-arrow has-tooltip-text-left" data-tooltip="The package url or purl is a URL string used to identify and locate a software package.">Package URL</span></th>
                    <th style="width: 225px;"><span class="has-tooltip-multiline has-tooltip-black has-tooltip-arrow has-tooltip-text-left" data-tooltip="This is the number of vulnerabilities that affect the package.">Affected By Vulnerabilities</span></th>
                    <th style="width: 225px;"><span class="has-tooltip-multiline has-tooltip-black has-tooltip-arrow has-tooltip-text-left" data-tooltip="This is the number of vulnerabilities fixed by the package.">Fixing Vulnerabilities</span></th>
                </tr>
            </thead>
            <tbody>
                {% for package in packages %}
                <tr>
                    <td style="word-break: break-all;"><a href="{% url 'package_view' package.pk %}">{{package.package_url}}</a></td>
                    <td>{{package.vulnerability_count}}</td>
                    <td>{{package.patched_vulnerability_count}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- <div style="height: 50px;"></div> -->

    <!-- <div class="is-field is-horizontal" style="text-align: center;"> -->
    <!-- <div class="is-field is-horizontal">
        <span class="step-links">
            {% if packages.has_previous %}
            <a class="button paging" href="?{{ searched_for }}&page=1">&laquo; first</a>
            <a class="button paging" href="?{{ searched_for }}&page={{ packages.previous_page_number }}">previous</a>
            {% else %}
            <button class="button" title="disabled" disabled>&laquo; first</button>
            <button class="button" title="disabled" disabled>previous</button>
            {% endif %}

            <span class="current02">
                (page {{ packages.number }} of {{ packages.paginator.num_pages }})
            </span>

            {% if packages.has_next %}
            <a class="button paging" href="?{{ searched_for }}&page={{ packages.next_page_number }}">next</a>
            <a class="button paging" href="?{{ searched_for }}&page={{ packages.paginator.num_pages }}">last &raquo;</a>
            {% else %}
            <button class="button" title="disabled" disabled>next</button>
            <button class="button" title="disabled" disabled>last &raquo;</button>
            {% endif %}
        </span>
    </div> -->

    <div class="is-field is-horizontal">
        <span class="step-links">
            {% if packages.has_previous %}
            <a class="button paging is-normal" href="?{{ searched_for }}&page=1">&laquo; first</a>
            <a class="button paging is-normal" href="?{{ searched_for }}&page={{ packages.previous_page_number }}">previous</a>
            {% else %}
            <button class="button is-normal" title="disabled" disabled>&laquo; first</button>
            <button class="button is-normal" title="disabled" disabled>previous</button>
            {% endif %}

            <span class="current02">
                (page {{ packages.number }} of {{ packages.paginator.num_pages }})
            </span>

            {% if packages.has_next %}
            <a class="button paging is-normal" href="?{{ searched_for }}&page={{ packages.next_page_number }}">next</a>
            <a class="button paging is-normal" href="?{{ searched_for }}&page={{ packages.paginator.num_pages }}">last &raquo;</a>
            {% else %}
            <button class="button is-normal" title="disabled" disabled>next</button>
            <button class="button is-normal" title="disabled" disabled>last &raquo;</button>
            {% endif %}
        </span>
    </div>

</section>

{% endif %}

{% endblock %}