{% extends 'base.html' %}

{% block title %}
<h1 class="title">
Create a new  Package
</h1>
{% endblock %}
{% load widget_tweaks %}

{% block content %}
<div class="columns">
  <div class="column is-one-third"></div>
  <div class="column is-one-third has-text-centered  ">
    <form method="post" class="card has-background-success-light">
        {% csrf_token %}
        <header class="card-header mb-3">
          <p class="card-header-title is-centered">
            Package Details 
          </p>
        </header>
        {% for field in form %}
        <div class="field mx-3">
          <div class="control">
            {% render_field field class="input is-primary" placeholder=field.label %}
          </div>
        </div>
        {% endfor %}
      <button class="button is-success mb-3", type="submit">
        Create
      </button>
    </form>
  </div>
</div>

{% endblock %}
