{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}
Curate : {{object}}
{% endblock %}

{% block content %}
<div class="columns is-3">
  <div class="column is-half has-text-centered has-background-success-light">
    <section class = "section">
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="field">
          <label class="label">{{field.label}}</label>
          <div class="control">
            {{ field|add_class:"input is-rounded" }}
          </div>
        </div>
        {% endfor %}
       <button class="button is-success", type="submit">
         Curate
       </button>
    </form>
    </section>
</div>

  <div class="column is-half has-text-centered has-background-danger-light">
    <section class="section">
        <h3 class="subtitle"><strong>Vulnerable To</strong></h3>
        <div class="tags" id="unresolved_tags">
            {% for vulnerability in impacted_vuln %}
                <span class="tag is-danger is-medium">
                  <a href="{% url 'vulnerability_view' vulnerability.pk %}" class="has-text-white">{{vulnerability}}</a>
                </span>
            {% endfor %}
        </div>

        <div class="field is-grouped">
            <p class="control">
                
                <a class="button is-success is-small" href = "{% url 'impacted_package_create' object.pk %}">
                    <span>Add</span>
                    <span class="icon is-small">
                        <i class="fa fa-plus"></i>
                    </span>
                </a>
            </p>
            <p class="control">
                <button class="button is-danger is-small id="rm-resolved" onclick="HandleRemoveButtonsOnImpacted()">
                    <span>Remove</span>
                    <span class="icon is-small">
                        <i class="fa fa-minus"></i>
                    </span>
                </button>
            </p>
        </div>

    </section>


    <section class="section">
        <h3 class="subtitle"><strong>Safe To</strong></h3>
        <div class="tags" id="resolved_tags">
            {% for vulnerability in resolved_vuln %}
            <span class="tag is-primary is-medium">
              <a href="{% url 'vulnerability_view' vulnerability.pk %}" class="has-text-white">{{vulnerability}}</a>
            </span>
            {% endfor %}
        </div>

        <div class="field is-grouped">
            <p class="control">
                <a class="button is-success is-small" href= "{% url 'resolved_package_create' object.pk %}" >
                    <span>Add</span>
                    <span class="icon is-small">
                        <i class="fa fa-plus"></i>
                    </span>
                </a>
            </p>
            <p class="control">
                <button class="button is-danger is-small id="rm-resolved" onclick="HandleRemoveButtonsOnResolved()">
                    <span>Remove</span>
                    <span class="icon is-small">
                        <i class="fa fa-minus"></i>
                    </span>
                </button>
            </p>
        </div>
    </section>

  </div>

</div>

{% endblock %}

{% block javascript %}
<script>
    var remove_toggled = false ;
    var remove_vuln_toggled = false ;
    function  HandleRemoveButtonsOnResolved()
    {
        if (remove_toggled)
        {
            var delete_buttons = document.getElementsByClassName('delete is-small')
            for(var i = delete_buttons.length-1 ; i>=0 ; i--)
            {
                delete_buttons[i].remove();
            }
            remove_toggled = false;

        }
        else
        {
            var tags = document.getElementsByClassName('tag is-primary is-medium')
            for(var i = 0 ; i<tags.length ; i++)
            {
                let vuln_pk = extract_pk(tags[i].children[0].attributes['href'].nodeValue) ;
                // Do this in a cleaner way

                url = "../relations/resolved/" + {{object.pk}} + "/" + vuln_pk
                let btnHTML = `
                <form method="POST" action=${url}>
                {% csrf_token %}<button class="delete is-small" type="submit"></button>
                </form>
                `

                tags[i].innerHTML += btnHTML;
            }
            remove_toggled = true ;
        }

    }
    function  HandleRemoveButtonsOnImpacted()
    {
        if (remove_vuln_toggled)
        {
            var delete_buttons = document.getElementsByClassName('delete is-small')
            for(var i = delete_buttons.length-1 ; i>=0 ; i--)
            {
                delete_buttons[i].remove();
            }
            remove_vuln_toggled = false;

        }
        else
        {
            var tags = document.getElementsByClassName('tag is-danger is-medium')
            for(var i = 0 ; i<tags.length ; i++)
            {
                let vuln_pk = extract_pk(tags[i].children[0].attributes['href'].nodeValue) ;
                // Do this in a cleaner way

                url = "../relations/impacted/" + {{object.pk}} + "/" + vuln_pk
                let btnHTML = `
                <form method="POST" action=${url}>
                {% csrf_token %}<button class="delete is-small" type="submit"></button>
                </form>
                `

                tags[i].innerHTML += btnHTML;
            }
            remove_vuln_toggled = true ;
        }

    }



    function extract_pk(url)
    {
        let splitted_url = url.split('/')
        // eg value of url = "/vulnerabilities/5909"

        return splitted_url[splitted_url.length -1]
    }

</script>
{% endblock %}




