{% extends 'base_new.html' %}

{% block title %}
VCIO -- DB package search
{% endblock %}

{% block content %}

{% include 'navbar01.html' %}

<section class="section01">

    <div class="columns">

        <div class="column is-four-fifths" style="padding-bottom: 0px;">
            <span style="font-size: 20px; font-weight: 500;">Search Packages</span>

            <div class="field is-grouped is-grouped-multiline" style="margin-top: 10px;">
                <div class="control">
                    <div class="tags has-addons">
                        <span class="tag is-dark">type</span>
                        <span class="tag is-info">{{package_type}}</span>
                    </div>
                </div>
                <div class="control">
                    <div class="tags has-addons">
                        <span class="tag is-dark">name or purl</span>
                        <span class="tag is-info">{{package_name}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="column" style="text-align: right;">
            <a class="button is-link" href="/index_new">Return to search</a>
        </div>
    </div>

    <hr>

    <div class="columns">
        <div class="column" style="padding-top: 0px; padding-bottom: 0px;">
            Total records: {{ result_size }}
        </div>
    </div>

    <div class="is-field is-horizontal">
        <span class="step-links">
            {% if packages.has_previous %}
            <a class="button paging is-normal" href="?{{ searched_for }}&page=1">&laquo; first</a>
            <a class="button paging is-normal" href="?{{ searched_for }}&page={{ packages.previous_page_number }}">previous</a>
            {% else %}
            <button class="button is-normal" title="disabled" disabled>&laquo; first</button>
            <button class="button is-normal" title="disabled" disabled>previous</button>
            {% endif %}

            <span class="current02">
                (page {{ packages.number }} of {{ packages.paginator.num_pages }})
            </span>

            {% if packages.has_next %}
            <a class="button paging is-normal" href="?{{ searched_for }}&page={{ packages.next_page_number }}">next</a>
            <a class="button paging is-normal" href="?{{ searched_for }}&page={{ packages.paginator.num_pages }}">last &raquo;</a>
            {% else %}
            <button class="button is-normal" title="disabled" disabled>next</button>
            <button class="button is-normal" title="disabled" disabled>last &raquo;</button>
            {% endif %}
        </span>
    </div>

</section>

{% if packages %}

<section class="section01">
    <div class="content">
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th><span class="has-tooltip-multiline has-tooltip-black has-tooltip-arrow has-tooltip-text-left" data-tooltip="The package url or purl is a URL string used to identify and locate a software package.">Package URL</span></th>
                    <th style="width: 225px;"><span class="has-tooltip-multiline has-tooltip-black has-tooltip-arrow has-tooltip-text-left" data-tooltip="This is the number of vulnerabilities that affect the package.">Affected By Vulnerabilities</span></th>
                    <th style="width: 225px;"><span class="has-tooltip-multiline has-tooltip-black has-tooltip-arrow has-tooltip-text-left" data-tooltip="This is the number of vulnerabilities fixed by the package.">Fixing Vulnerabilities</span></th>
                </tr>
            </thead>
            <tbody>
                {% for package in packages %}
                <tr>
                    <td style="word-break: break-all;">
                        {{package.package_url}}
                        <span style="font-size: 13px;">
                            (
                            <a href="{% url 'package_view' package.pk %}" target="_blank">old HTML</a>
                            |
                            <a href="{% url 'package_view_new' package.pk %}" target="_blank">new HTML</a>
                            )

                        </span>
                    </td>
                    <td>{{package.vulnerability_count}}</td>
                    <td>{{package.patched_vulnerability_count}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="is-field is-horizontal">
        <span class="step-links">
            {% if packages.has_previous %}
            <a class="button paging is-normal" href="?{{ searched_for }}&page=1">&laquo; first</a>
            <a class="button paging is-normal" href="?{{ searched_for }}&page={{ packages.previous_page_number }}">previous</a>
            {% else %}
            <button class="button is-normal" title="disabled" disabled>&laquo; first</button>
            <button class="button is-normal" title="disabled" disabled>previous</button>
            {% endif %}

            <span class="current02">
                (page {{ packages.number }} of {{ packages.paginator.num_pages }})
            </span>

            {% if packages.has_next %}
            <a class="button paging is-normal" href="?{{ searched_for }}&page={{ packages.next_page_number }}">next</a>
            <a class="button paging is-normal" href="?{{ searched_for }}&page={{ packages.paginator.num_pages }}">last &raquo;</a>
            {% else %}
            <button class="button is-normal" title="disabled" disabled>next</button>
            <button class="button is-normal" title="disabled" disabled>last &raquo;</button>
            {% endif %}
        </span>
    </div>

</section>

{% endif %}

{% endblock %}