{% extends 'base.html' %} 
{% block title %} 
<h1 class="title">
Explore/Curate Vulnerable packages
</h1>
{% endblock %}
{% block content %}
{% load widget_tweaks %}

<div class="columns">
  <div class="column is-one-third is-offset-one-third">
    <form action="{% url 'package_search' %}" method="get">
    {% load widget_tweaks %}
      <div class="field is-horizontal pd-3">
        <div class="select">
        {{form.type}}
        </div>
        {{form.name|add_class:"input"}}
        <button class="button is-success", type="submit">
          Search
        </button>
      </div>
    </form>
  </div>
</div>

{% if packages %}

<section class="section is-small  has-text-centered">
  <div class="container">
    <h1 class="title">Results of your query</h1>
    <h3 class="subtitle">Total Results {{ total_results }}</h3>
  </div>
</section>

<section class="section">
  <div class="content is-medium">
    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
      <tr>
        <th>Packages</th>
        <th>Patched Vulnerabilities</th>
        <th>Vulnerabilities</th>
      </tr>
      {% for package in packages %}
      <tr>
        <td><a href="{% url 'package_view' package.pk %}">{{package}}</a></td>
        <td>{{package.resolved_to.all|length}}</td>
        <td>{{package.vulnerable_to.all|length}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  
  <div class="is-field is-horizontal">
    {% if packages.has_previous %}
      <a class="button" href="?{{ searched_for }}&page={{ packages.previous_page_number }}">Previous Page</a>
    {% endif %}
  
    {% if packages.has_next %}
      <a class="button" href="?{{ searched_for }}&page={{ packages.next_page_number}}">Next Page</a>
    {% endif %}
  </div>
</section>

{% endif %}
{% endblock %}