{% extends 'base.html' %}

{% block title %}
Select/<a href = "{% url 'vulnerability_create' %}"> or Create and then select </a> a vulnerability
{% endblock %}
{% block content %}
{% load widget_tweaks %}
<div class="columns">
  <div class="column is-one-third"></div>
  <div class="column  is-one-third has-text-centered  ">
    <form method="post" class="card has-background-success-light">
      <header class="card-header">
        <p class="card-header-title is-centered">
          Vulnerability ID 
        </p>
      </header>
        {% csrf_token %}
        {% for field in form %}
        <div class="field">
          <div class="selectpicker">
            {% render_field field class="is-primary" %}
          </div>
        </div>
        {% endfor %}
      <button class="button is-success", type="submit">
        Create
      </button>
    </form>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script>
$(document).ready(function() {

        $('select').selectize();

});
</script>
{% endblock %}






