<script>
    document.addEventListener('DOMContentLoaded', () => {
        (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
            const $notification = $delete.parentNode;

            $delete.addEventListener('click', () => {
                $notification.parentNode.removeChild($notification);
            });
        });
    });

    function validatePkgForm() {
        var x = document.forms["pkg_form"]["package_name="].value;
        if (x.trim().length == "") {
            return false;
        }
    }

    function validateVulnForm() {
        var x = document.forms["vulnerability_form"]["vulnerability_id"].value;
        if (x.trim().length == "") {
            return false;
        }
    }

</script>
