{% extends 'base_new.html' %}

{% block title %}
VCIO -- vulnerability search
{% endblock %}

{% block content %}

{% include 'navbar01.html' %}

<section class="section01">

    <div class="columns">
        <!-- <div class="column is-four-fifths"> -->
        <div class="column is-four-fifths" style="padding-bottom: 0px;">
            <span style="font-size: 20px; font-weight: 500;">Search Vulnerabilities</span>
            <div class="tags has-addons" style="margin-top: 10px;">
                <span class="tag is-dark">vuln_id</span>
                <span class="tag is-info">{{vuln_id}}</span>
            </div>
            <!-- <div class="tags has-addons">
                <span class="tag is-medium is-light is-search-label-left">Search vulnerabilities by vuln_id: </span>
                <span class="tag is-medium is-white is-search-label-right">"{{vuln_id}}"</span>
            </div> -->

            <!-- <div class="container mx-5 mb-5">
                <div class="field is-grouped is-grouped-multiline">
                    <div class="control">
                        <div class="tags has-addons">
                            <span class="tag is-dark">UUID</span>
                            <span class="tag is-info">156ad045-21f6-4888-924e-fd95c9511ce4</span>
                        </div>
                    </div>
                    <div class="control">
                        <div class="tags has-addons">
                            <span class="tag is-dark">Work directory</span>
                            <span class="tag is-info">/var/scancodeio/workspace/projects/asdasdasd-156ad045</span>
                        </div>
                    </div>
                </div>
            </div> -->

        </div>
        <!-- <div class="column" style="text-align: right;"> -->
        <div class="column" style="text-align: right;">
            <!-- <a class="button is-link is-outlined" href="/index_new">Return to search</a> -->
            <a class="button is-link" href="/index_new">Return to search</a>
            <!-- <a class="button is-success is-outlined" href="/index_new">Return to search</a> -->
            <!-- <br />
            <button class="button is-link is-outlined">Outlined</button> -->
        </div>
    </div>

    <hr>

    <div class="columns">
        <!-- <div class="column" style="text-align: center; padding: 0px;"> -->
        <!-- <div class="column" style="padding-top: 0px;"> -->
        <div class="column" style="padding-top: 0px; padding-bottom: 0px;">
            Total records: {{ result_size }}
        </div>
    </div>

    <!-- <div class="is-field is-horizontal" style="text-align: center;"> -->
    <div class="is-field is-horizontal">
        <span class="step-links">
            {% if vulnerabilities.has_previous %}
            <a class="button paging" href="?vuln_id={{ vuln_id }}&page=1">&laquo; first</a>
            <a class="button paging" href="?vuln_id={{ vuln_id }}&page={{ vulnerabilities.previous_page_number }}">previous</a>
            {% else %}
            <button class="button" title="disabled" disabled>&laquo; first</button>
            <button class="button" title="disabled" disabled>previous</button>
            {% endif %}

            <span class="current02">
                (page {{ vulnerabilities.number }} of {{ vulnerabilities.paginator.num_pages }})
            </span>

            {% if vulnerabilities.has_next %}
            <a class="button paging" href="?vuln_id={{ vuln_id }}&page={{ vulnerabilities.next_page_number }}">next</a>
            <a class="button paging" href="?vuln_id={{ vuln_id }}&page={{ vulnerabilities.paginator.num_pages }}">last &raquo;</a>
            {% else %}
            <button class="button" title="disabled" disabled>next</button>
            <button class="button" title="disabled" disabled>last &raquo;</button>
            {% endif %}
        </span>
    </div>

</section>

{% if vulnerabilities %}
<section class="section01">
    <div class="content">
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <tr>
                <th><span class="has-tooltip-multiline has-tooltip-black has-tooltip-arrow has-tooltip-text-left" data-tooltip="Tooltip coming soon!">Vulnerability ID</span></th>
                <th style="width: 225px;"><span class="has-tooltip-multiline has-tooltip-black has-tooltip-arrow has-tooltip-text-left" data-tooltip="Tooltip coming soon!">Affected packages</span></th>
                <th style="width: 225px;"><span class="has-tooltip-multiline has-tooltip-black has-tooltip-arrow has-tooltip-text-left" data-tooltip="Tooltip coming soon!">Fixed packages</span></th>
            </tr>
            {% for vulnerability in vulnerabilities %}
            <tr>
                <td style="word-break: break-all;">
                    {{vulnerability.vulnerability_id}}
                    <span style="font-size: 13px;">
                        (
                        <a href="{% url 'vulnerability_view' vulnerability.pk %}" target="_blank">old HTML</a>
                        |
                        <a href="{% url 'vulnerability_view_new' vulnerability.pk %}" target="_blank">new HTML</a>
                        )
                    </span>
                </td>
                <td>{{vulnerability.vulnerable_package_count}}</td>
                <td>{{vulnerability.patched_package_count}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <!-- <div style="height: 50px;"></div> -->

    <!-- <div class="is-field is-horizontal" style="text-align: center;"> -->
    <div class="is-field is-horizontal">
        <span class="step-links">
            {% if vulnerabilities.has_previous %}
            <a class="button paging" href="?vuln_id={{ vuln_id }}&page=1">&laquo; first</a>
            <a class="button paging" href="?vuln_id={{ vuln_id }}&page={{ vulnerabilities.previous_page_number }}">previous</a>
            {% else %}
            <button class="button" title="disabled" disabled>&laquo; first</button>
            <button class="button" title="disabled" disabled>previous</button>
            {% endif %}

            <span class="current02">
                (page {{ vulnerabilities.number }} of {{ vulnerabilities.paginator.num_pages }})
            </span>

            {% if vulnerabilities.has_next %}
            <a class="button paging" href="?vuln_id={{ vuln_id }}&page={{ vulnerabilities.next_page_number }}">next</a>
            <a class="button paging" href="?vuln_id={{ vuln_id }}&page={{ vulnerabilities.paginator.num_pages }}">last &raquo;</a>
            {% else %}
            <button class="button" title="disabled" disabled>next</button>
            <button class="button" title="disabled" disabled>last &raquo;</button>
            {% endif %}
        </span>
    </div>

</section>

{% endif %}

{% endblock %}