{% extends "base.html" %}
{% block title %}
Review page
{% endblock %}

{% block extra-head %}
{% endblock %}
{% block content %}
<div class="columns">
  <div class="column">
  </div>
  <div class="column is-two-thirds">

  <div class="content is-normal">
    <h1>Git Repository List</h1>
    <hr/>
  <div>

  <form method="get" class="has-text-centered box" action="">
      {{ form }}
      <button type="submit" class="button is-link is-rounded">Search</button>
  </form>

  {% for repo in repo_list %}
  <article class="media box mt-4 ">
    <div class="media-left has-text-centered">
        <h2>Number of Reviews</h2>
        <p>{{ repo.review_count }}</p>
    </div>
    <div class="media-content ">
      <div class="content" style="border-left: 4px solid black;">
          <h3 class="ml-3 mr-3"><a href="{{ repo.url }}"> {{ repo.name }} </a></h3>
          <a class="is-center button ml-3" href="{% url 'review-create' repo.id %}">Create Review </a>
      </div>

    </div>
  </article>
  {% endfor %}

</div>

  </div>
  </div>
  <div class="column"></div>
</div>

{% endblock %}