<div class="chart-row card-chart-row">
    <div class="columns is-desktop mb-0" style="margin: -0.75rem;">
        <div class="column is-half" style="border-right: 1px solid #e8e8e8; padding: 1rem;">
            <h3 class="card-chart-title has-text-centered mb-4">{{ panel.charts.0.title }}</h3>
            <div class="chart-container is-pie" id="chart-{{ panel.charts.0.id }}" data-chart-type="donut"></div>
        </div>
        <div class="column is-half" style="padding: 1rem;">
            <h3 class="card-chart-title has-text-centered mb-4">{{ panel.charts.1.title }}</h3>
            <div class="chart-container is-pie" id="chart-{{ panel.charts.1.id }}" data-chart-type="donut"></div>
        </div>
    </div>
</div>
